.img{
  margin: 10px 0 0 10px;
}

/* .img .point {
    color: #ffa07a;
} */

img {
    margin-right: 5px;
    padding-right: 5px;
    height: 60vh;
    width: 40vw;
    border-radius: 20px;
    float: left;
}

h1{
    color: #34b7eb;
    margin: 2px;
    text-transform: uppercase;
}

hr{
    width: 10%;
    align-items: center;
    margin: 5px;
    font-size: 20px;
    font-weight: 500;
    background-color: #ffa07a;
    border: 1px solid #ffa07a;
}
span {
    color: #ffa07a;
}
