.adhesioninfo h1{
    text-align: center;
    color: #34b7eb;
}

.adhesioninfo p {
    margin: 10px;
    padding: 10px;
}

.top{
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.top .one {
    color: lightsalmon;
}

.top .two {
    color: lightblue;
}